<!DOCTYPE html>
<html lang="en">

{% extends 'base.html' %} {% block content %}
<h2>{{ page_title }}</h2>


<p> Mason Cash & Co was a pottery company, based in Woodville, Swadlincote, Derbyshire, U.K. 
They specialised in making a range of earthenware and stoneware kitchenware including mixing bowls, pudding basins and petware. 
The Company were most well known for their range of 'Cane Bowls'. 
    
<p>Mason Cash had been producing mixing bowls during the 1800s, but in 1901 they designed and manufactured the very first iconic Mason Cash mixing bowl. 
    The design of the Mason Cash mixing bowl has barely changed in over 100 years and can be recognised by its original and distinctive pattern on the outside of the bowl.</p>
    
<p>Mason Cash is now a brand of the leading household supplier and Family owned Rayware Group, known for their vibrant British Brands.
</p>
    
<div class="row featurette">
    <div class="col-md-7">
        <h3>In The Forest </h3>
        <p>Inspired by folk tales of the mid 19th Century, the In the Forest range of mixing bowls are intricately embossed with forest scenes featuring favourite forest animals. The range includes four nesting mixing bowls, each one perfect for different mixtures as well as providing easy storage.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="https://www.masoncash.co.uk/media/catalog/category/itf-mixing-bowls.jpg" style="width:100%;" alt="In The Forest placeholder image">
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="https://www.masoncash.co.uk/media/catalog/category/hearts-thumb.jpg" style="width:100%;" alt="Hearts placeholder image">
    </div>    
    <div class="col-md-7">
        <h3 class="featurette-heading">Hearts Mixing Bowls</h3>
        <p>These traditional Mason Cash bowls have embossed hearts around the outside. This isn’t just to help grip the bowls when mixing, it’s also because we know how much you love baking!</p>
    </div>
</div>
<hr class="featurette-divider">
<div class="row featurette">
    <div class="col-md-7">
        <h3>Cane Mixing Bowls</h3>
        <p class="lead">The distinct patterned exterior and rim of the bowl is designed to help bakers grip and tip the bowl and has become synonymous with the brand and baking ever since. The wide, shallow shape also allows for kneading within the bowl if required.</p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-responsive" src="https://www.masoncash.co.uk/media/catalog/category/cane-mixing-bowls-lrg.jpg" style="width:100%;" alt="Traditional Cane placeholder image">
    </div>
</div>

{% endblock %}