{% extends "base.html" %}
{% block content %}

<!-- Displays recipe details based on user selection -->
<div class="container recipe-container">
    <div class="card mb-4">
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <h2 class="card-title recipe-title">{{recipe.recipe_name}}</h2>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-info"></i>Description</h5>
                    <p>{{recipe.description}}</p>
                    <h5 class="card-title ingredients-heading"><i class="fas fa-list-ul"></i>Ingredients</h5>
                    {% for ingredients in recipe.ingredients %}
                    <p>{{ingredient}}</p>
                    {% endfor %}
                    <h5 class="card-title ingredients-heading"><i class="fas fa-clipboard-list"></i>Method</h5>
                    {% for instruction in recipe.method %}
                    <p>{{method}}</p>
                    {% endfor %}
                    <div class="recipe-buttons">
                        <a href="{{url_for('edit_recipe', recipe_id=recipe._id)}}" class="btn btn-success">Edit Recipe</a>
                        <button type="button" class="btn btn-danger" onclick="confirm_del()">Delete Recipe</button>
                        <a href="{{url_for('home')}}" class="btn btn-success">Home</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--  Prompt for deleting or canceling delete recipe -->
<script>
function confirm_del(){
        var confirmation = confirm("This process cannot be undone! Are you sure you want to delete recipe?")
        if (confirmation == true){
            window.location.href="{{url_for('delete_recipe', recipe_id=recipe._id)}}";
            alert("Recipe has successfully been deleted.");
        }
        else {
            alert("Recipe has not been deleted.");
        }
    }
</script>

{% endblock %}

