<!DOCTYPE html>
<html lang="en">
<!-- Navigation for Home Page -->

<head>
	<meta charset="utf-8">
	<title>Cook Corner</title>
	<meta name="viewpoint" content="width=device-width, initial scale-scale=1.0">
	<link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/clean-blog.min.css') }}" type="text/css" />
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css" />
</head>

<body>
	<!-- Navigation -->
	<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('index') }}">Cook Corner</a>
			<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('index') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('about') }}">About</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('recipes') }}">Recipes</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

	<!-- Page Header -->
	<header class="masthead"
		style="background-image: url('https://formadore.com/images/mason-cash/mason-cash-color-mix-kitchen-bowl-4-l__2001-834-2-s2500x2500.jpg')">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<div class="site-heading">
						<h1>Cook Corner</h1>
						<span class="subheading">&amp; Mason Cash</span>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		{% block content %}
		{% endblock %}

	</div>

	<hr>
	<!-- Footer -->
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-10 mx-auto">
					<ul class="list-inline text-center">
						<li class="list-inline-item">
							<a href="#twitter">
								<span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#facebook">
								<span class="fa-stack fa-lg">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
						<li class="list-inline-item">
							<a href="#github">
								<span class="fa-stack fa-lg">
                                	<i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                                </span>
							</a>
						</li>
					</ul>
					<p class="copyright text-muted">Copyright &copy; Sara Oliver Website 2020</p>
				</div>
			</div>
		</div>
	</footer>
	<div class="col text-center mt-3">
		<p class="text-align-center" style="line-height: 16px;"><span
				style="color: #242121; display: unset;">&nbsp;</span><span class="span"
				style="color: rgb(29, 23, 23); display: unset; font-style: italic; font-weight: 700;"><span
					style="color: #352d2d; display: unset; font-style: italic; font-weight: 700;">All Rights Reserved.
					Copyright @ 2021 -</span>
			</span><span class="span"
				style="color: hsl(0, 5%, 17%); display: unset; font-style: italic; font-weight: bold;"><span
					style="color: rgb(29, 23, 23); display: unset; font-style: italic; font-weight: bold;">Powered
					by</span>
				<a target="_blank" href="http://www.kukmarketing.com" data-toggle="tooltip" title="hover"
					runtime_url="http://www.kukmarketing.com" type="url"
					style="display: unset; font-style: italic; font-weight: bold;  color: #352d2d;">KUK</a>
			</span></p>
		</div>
	</div>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
	</script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
	</script>
	<!-- Bootstrap core JavaScript -->
	<script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
	<script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
	<!-- Materialize core JavaScript -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<!-- Custom scripts for this template -->
	<script src="{{ url_for('static', filename='js/clean-blog.min.js') }}"></script>
</body>

</html>
