{% extends 'base.html' %} {% block content %}
        <h2>{{ page_title }}</h2>
    <body>
        <header>
            <nav>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Browse recipes
                    </a>
                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{url_for('addcategory', selected_category = 'Bake')}}">Bake</a>
                        <a class="dropdown-item" href="{{url_for('addcategory', selected_category = 'Cook')}}">Cook</a>
                        <a class="dropdown-item" href="{{url_for('addcategory', selected_category = 'Share')}}">Share</a>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('add_recipes')}}">Add Your Own Recipe</a>
                </li>
                <ul class="side-nav" id="mobile-demo">
                    <li><a href="{{url_for('addcategorory, selected_category = 'Bake')}}">Bake</a></li>
                    <li><a href="{{url_for('addcategory, selected_category = 'Cook')}}">Cook</a></li>
                    <li><a href="{{url_for('addcategory, selected_category = 'Share')}}">Share</a></li>
                </ul>
            </nav>      
        </header>
{% endblock %}
 