{% extends 'base.html' %} {% block content %}
        <h2>{{ page_title }}</h2>
    <body>
        <header>
            <nav>
                <div class="nav-wrapper">
                    <a href="{{url_for('get_categories')}}" class="brand-logo">Recipe Manager</a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down">
                        <li><a href="{{url_for('get_categories')}}">Home</a></li>
                        <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                        <li><a href="{{url_for('get_addcategory')}}">Manage Recipes</a></li>
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="{{url_for('get_categories')}}">Home</a></li>
                        <li><a href="{{url_for('add_recipe')}}">New Recipe</a></li>
                        <li><a href="{{url_for('get_addcategory')}}">Manage Recipes</a></li>
                    </ul>
                </div>
            </nav>      
        </header>
{% endblock %}
 